#sliders
{
	width: 100%;
	text-align:	center;
	font-family: Arial
}

#communication-diagnostics
{
	width: 100%;
	text-align:	left;
	font-family: Arial
}

#messages
{
	width: 100%;
	display:inline-block;
	text-align:	left;
	font-family: Arial
}

#connection-status
{
	width: 100%;
	text-align:	left;
	font-family: Arial
}

#message-diagnostics
{
	width: 100%;
	text-align:	left;
	font-family: Arial
}
